boto3
moto[ec2,s3,all]
pytest
coverage
flask
yfinance
pandas>=1.5.3  # safe for Python 3.10+
numpy>=1.23.0  # compatible with Python 3.10+
requests
pytest-mock
nltk
flask-cors
pygooglenews==0.1.1
feedparser>=6.0.10