boto3
moto[ec2,s3,all]
pytest
coverage
flask
yfinance
pandas
requests
pytest-mock
nltk
flask-cors
python-dateutil

# Updated pygooglenews using compatible feedparser version via fork
git+https://github.com/kotartemiy/pygooglenews.git@master#egg=pygooglenews